:root {
  --primary-color-font: #ffffff;
  --details-color: #FFBB00;
  --second-color: #111111;
  --third-color: #B2B2B2;
  --background-dark: #000000;
  --backgroung-light: #E5E5E5;
}

body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: var(--background-dark);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  color: var(--primary-color-font);
  cursor: pointer;
  font-size: 1.125rem;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--primary-color-font);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}


@media(max-width: 800px) {
  .header-menu {
  gap: 20px;
}
  .header-menu a {
    background: var(--second-color);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #2e2e2e; 
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

/*body {
  color: var(--primary-color-font);
  font-family: 'Poppins', sans-serif;
  max-width: 100vw;
}

p, h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header img {
  max-width: 100%;
  height: 32px;
}
 

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 88px;
  text-align: left;
  align-items: center;
}

.titulo {
  font-weight: 600;
  font-size: 4rem;
  line-height: 4.5rem;
 }

 .introducao {
  width: 512px;
  padding: 192px 88px 128px 220px;
}
 
 .titulo span {
  color: var(--details-color);
 }

 .introducao p {
  color: var(--third-color);
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 32px 0px 20px 0px;
}

.introducao a {
  background: linear-gradient(180deg, #FFBF00 0%, #F2A50C 100%);
  color: #332200;
  text-decoration: none;
  font-size: 18px;
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
}

.main img {
  width: 100%;
}

.escolha {
  background-color: var(--backgroung-light);
}

.escolha h2 {
  color: var(--second-color);
  margin-left: 220px;
}

.escolha-img {
  display: flex;
}

.depoimento {
  font-family: 'Merriweather', serif;
}